.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.sbatch text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.md text eol=lf
*.txt text eol=lf
*.tex text eol=lf
*.csv text eol=lf
*.pdf binary
*.parquet binary
*.png binary
